* {
  font-family: sans-serif;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.popap {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 250px;
  background: #fff;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: default;
  border-radius: 3px;
}

.popap-head {
  position: relative;
  height: 25px;
}

.popap-head .close {
  position: absolute;
  height: 20px;
  padding: 0 2px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #ccc;
  cursor: pointer;
}

.popap-head .close:hover {
  border-color: #333;
}

.popap-main {
  padding: 20px;
  box-sizing: border-box;
}

.popap-form {
  margin-bottom: 20px;
}

.popap-main label {
  display: block;
  margin-bottom: 10px;
}

.popap-main label span {
  font: 12px sans-serif;
  display: block;
}

.popap-main label input {
  width: 100%;
  margin: 0;
  padding: 0;
}

.popap-btn {
  text-align: right;
}

.btn {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  border-color: #333;
}

table {
  border: 2px black solid;
}

td {
  border: 2px black solid;
}

/* ДЗ с табами */

.tabs {
  margin: 20px;
}
.tabs__container {
  display: flex;
}

.tabs__container-btn {
  padding: 15px 30px;
  font-size: 20px;
  border-top-left-radius: 15spx;
  border-top-right-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.tabs__container-btn:hover {
  background-color: violet;
}

.tabs__container-btn.active {
  background-color: rgb(124, 187, 145);
}
.closeBtn {
  width: 20px;
  height: 20px;
  border: 1px black solid;
  text-align: center;
}

.tabs__content {
  display: flex;
}

.tabs__item {
  display: none;
  padding: 10px 15px;
  width: 600px;
  border: 1px solid rgb(196, 194, 194);
  font-size: 20px;
}

.tabs__item.actives {
  display: block;
}
