header {
  grid-area: header;
  width: 100%;
  background: url(/Lesson_1/images/Header_fon.png) center;
}

.header {
  &__wrapper {
    height: 100px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &__logo {
    align-self: center;
  }

  &__nav {
    align-self: center;
  }

  &__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav-item {
    margin: auto;
    margin-right: 0px;
  }

  &__nav-link {
    text-align: right;
    color: white;
    text-decoration: none;
    opacity: 0.75;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__nav-link:hover {
    text-decoration: underline;
    color: #e84545;
  }

  &__title {
    margin: auto;
    margin-top: 156px;
    margin-bottom: 41px;
    max-width: 861px;
    color: white;
    font-family: "Open Sans";
    font-size: 63px;
    line-height: 71px;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    margin: auto;
    display: block;
    max-width: 912px;
    color: white;
    font-family: Raleway;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
  }

  &-btn {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 77px;
    margin-bottom: 156px;
    max-width: 200px;
    padding: 18px 49px;
    border-radius: 3px;
    background-color: #e84545;
    color: white;
    font-family: "Raleway - Semi Bold";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
}
